* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
body {

  width: 100%;
  background-color: rgb(70, 27, 82);
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  background-image: url(./fon1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 21, 68);
}
#button1 {
  background-color: rgba(57, 6, 70, 0.947);
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  margin-top: 17px;
  margin-left: 18px;
}
#button2 {
  background-color: rgba(57, 6, 70, 0.947);
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  margin-top: 17px;
  margin-left: auto;
  margin-right: 18px;
}

.text h1 {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  color: aliceblue;
  font-weight: 500;
}
.text p {
  color: white;
  font-size: 23px;
  margin-top: 95px;
  margin-left: 40px;
}
.videvo {
  margin-top: 6%;
  width: 100%;
  margin-left: auto;
  margin-right: 20px;
}
.videvo iframe{
  width: 100%;
  height: 100%;
}
.fon {
  background-color: rgba(55, 10, 97, 0.852);
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 18px;
  height: 645px;
  backdrop-filter: blur(5px);
  padding-top: 5px;
}
.content {
  display: flex;
}
.pokupka p {
  margin-left: 40px;
  margin-top: 10px;
  color: rgb(255, 253, 116);
  margin-bottom: 10px;
}
.kupit img {
  margin-left: 60px;
}
span {
  color: rgb(245, 244, 182);
}

@media (max-width: 1150px) {
  .text p {
  font-size: 16px;
  }
 }

 @media (max-width: 450px) {
  .content {
    flex-direction: column-reverse;
  }
 .text p {
    color: white;
    font-size: 16px;
   margin-left: 16px;
   margin-top: 14px;
}
  .videvo iframe{
    
    width: 90%;
  
  }
  .videvo {
    margin-top: 24px;;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .fon {
    height: 600px;
 }
 .text h1 {
  margin-bottom: 24px;
}
}
 