* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
html {
  height: 100%;
}

body {
  width: 100%;
  background-color: rgb(70, 27, 82);
}
nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 21, 68);
}
.container {
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.nav-links {
  flex: 1;
  text-align: left;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 60px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(177, 177, 224);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
#active_link {
  font-weight: 700;
}
.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@media (max-width: 1200px) {

  .nav-links ul li {
      list-style: none;
      display: inline-block;
      padding: 8px 40px;
      position: relative;
  }
 }
 
@media (max-width: 900px) {

  .nav-links ul li {
      list-style: none;
      display: inline-block;
      padding: 8px 20px;
      position: relative;
  }
 }
  
@media (max-width:700px) {
  nav{
   background-color: rgba(190, 84, 219, 0.0);
  }
   ul {
     display: flex;
     flex-direction: column;
 
   }
   nav {
     display: block;
   
   }
   
   .nav-links ul li {
     list-style: none;
     display: inline-block;
     padding: 8px 0px;
     text-align: right;
     position: relative;
 }
 .text-box h1 {
   margin-top: 100px;
   font-size: 40px;
 }
 .text-box p {
   font-size: 20px;
 }
 .supra {
 
   right: 10px;
   width: 350px;
   height: 250px;
 }
 }
 